


.header__burger{
	display: none;
}
.menu-list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

@media(max-width: 768px){
	.header__burger{
		position: relative;
		z-index: 3
	}
	.header__body_logo {
	z-index: 52;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.header__burger span{
		position: absolute;
		left: 0;
		top: 9px;
		background-color: #fff;
		width:100%;
		height: 2px;
		transition: all 0.3s ease 0s;	
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__body-menu{
		position: fixed;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background: var(--Background-Secondary, #393953);
		padding: 160px 0px 0px 0px;
		transition: all 0.3s ease 0s;
	}
	.header__body-menu.active{
		left: 0;
	}
	.menu-list{
		display: block;
		text-align: center;
	}
	.menu-list li{
		margin-bottom: 32px;
		font-size: 20px
	}
	body.lock{
		overflow: hidden;
	}
}
